// Fonts variables

$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// Color variables

$white: #fff;
$grey: #56585f;
$dark-grey: #2c2e37;
$light-grey: #e6e6e6;
$red: #f84444;

$desc-text: #949494;